<%- include ('./partials/header.ejs') %>

<body>
    <container>
        <%- include ('./partials/navbar.ejs') %>
        <h2>Welcome in blog GuidePress</h2>
        <hr/>
    </container>
</body>

<%- include ('./partials/footer.ejs') %>